doctype html
html
    head
        title="Hello Pug"
    body
        p.greetings#people My awesome application is rendered from pug!
        a(href="/auth/google")
            button(width="100",height="100") google